.loader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 200px;
	margin: 25vh auto;
	.circle {
		width: 20px;
		height: 20px;
		background: linear-gradient(#e51a24, #b8141d);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		&::before {
			content: "";
			width: inherit;
			height: inherit;
			background: inherit;
			border-radius: inherit;
			opacity: .7;
			animation: loading 2s;
			animation-iteration-count: infinite;
		}

		@keyframes loading {
			100% {
				transform: scale(3);
				opacity: 0;
			}
		}
		&.circle__two::before {
			animation-delay: .3s;
		}
		&.circle__three::before {
			animation-delay: .4s;
		}
		&.circle__four::before {
			animation-delay: .5s;
		}
		&.circle__five::before {
			animation-delay: .6s;
		}
	}
}
