@import "../variables.scss";

.Catalogs {
	h1,
	h2 {
		margin-bottom: 25px;
	}

	.btn__group {
		margin-bottom: 25px;
		text-align: right;
	}

	.cards {
		.card__catalogs {
			background-color: $background-secondary;
			border-radius: 5px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			grid-gap: 25px;
			transition: all $first-transition;
			&:hover {
				box-shadow: 4px 4px 5px 0 $shadow-color-first;
			}
			.card__image {
				display: inherit;
				img {
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
					width: 100%;
				}
			}
			.card__information {
				flex-basis: 50%;
				padding: 0 20px;
				h2 {
					margin-bottom: 15px;
				}
				p {
					display: -webkit-box;
					-webkit-line-clamp: 5;
					-webkit-box-orient: vertical;
					overflow: hidden;
				}
			}
			.card__action {
				padding: 20px;
				display: flex;
				justify-content: space-around;
				.btn__action {
					background-color: transparent;
					border: 0;
					margin: 0 10px;
					padding: 10px;
					cursor: pointer;
					transition: all $first-transition;
					border-radius: 5px;
					.svg {
						path {
							fill: $color-text-icon-hover;
						}
					}
					&:nth-child(2n + 1) {
						background-color: #23be3d;
					}
					&:nth-child(2n) {
						background-color: #be3323;
					}
					&:hover {
						opacity: .9;
						&:nth-child(2n + 1) {
							box-shadow: 4px 4px 4px 0 hsl(130, 69%, 44%, .5);
						}
						&:nth-child(2n) {
							box-shadow: 4px 4px 4px 0 hsl(6, 69%, 44%, .5);
						}
					}
				}
			}
		}
	}

	.add__catalog {
		h2 {
			padding-left: 15px;
		}
		.form__catalog {
			.inputs__group {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 50px;
				margin-bottom: 50px;

				.input__file {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 10px;

					.file__image_example {
						width: 300px;
						height: 350px;
						min-width: 300px;
						min-height: 400px;
					}
					#file__name {
						text-align: center;
					}
					.labe__file {
						width: 100%;
					}
					.file__image {
						display: none;
					}
				}

				.input__texts {
					display: flex;
					flex-direction: column;
					gap: 25px;
				}

				.input__group {
					display: flex;
					flex-direction: column;
					gap: 10px;
					.label__group {
						font-size: 16px;
						font-family: $font-family-Nunito;
					}
				}

				input,
				textarea {
					border: none;
					border-radius: 5px;
					background-color: $background-secondary;
					box-shadow: 4px 4px 4px 0 $shadow-color-second;
					padding: 10px 20px;
					color: $color-text-first;
					resize: none;
					font-size: 15px;
					&:focus-visible {
						outline: $background-button-primary auto 1px;
					}
				}
			}
			.progress__bar {
				margin: auto 30% 50px;
			}

			.button__group {
				display: flex;
				align-items: center;
				justify-content: center;
				button {
					margin: 0 10px;
				}
			}
			@media screen and (min-width: 800px) {
				.inputs__group {
					flex-direction: row;
				}
			}
		}
	}
}

.layout.Catalogs .add__catalog {
	.inputs__group {
		flex-direction: column;
	}
	@media screen and (min-width: 998px) {
		.inputs__group {
			flex-direction: row;
		}
	}
}
