@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500;600;700&family=Nunito&family=Open+Sans&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: $background-primary;
	font-size: 14px;
	font-family: $font-family-Open-Sans;
	color: $color-text-first;
}

body::-webkit-scrollbar {
	width: 10px;
}
body::-webkit-scrollbar-thumb {
	background: hsl(0, 0%, 75%);
	border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
	background: hsl(0, 0%, 65%);
}

body::-webkit-scrollbar-thumb:active {
	background-color: hsl(0, 0%, 60%);
}

body::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 5px;
}

h1 {
	font-family: $font-family-Libre-Franklin;
	font-weight: $font-weight-700;
	font-size: 20px;
	color: $color-text-second;
}

h2 {
	font-family: $font-family-Libre-Franklin;
	font-weight: $font-weight-600;
	font-size: 18px;
	color: $color-text-third;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: $color-text-link;
	font-family: $font-family-Nunito;
	&:hover {
		color: $color-text-link-hover;
	}
}

.btn {
	padding: 18px 32px;
	font-size: 16px;
	font-family: $font-family-Nunito;
	border: none;
	border-radius: 5px;
	transition: all .3s ease-in-out;
	cursor: pointer;
	text-align: center;
	display: flex;
	align-items: center;
	gap: 10px;
}

.btn__primary {
	background-color: $background-button-primary;
	color: $text-color-button-primary;
	&:hover {
		box-shadow: $box-shadow-button-primary;
		background-color: $background-button-primary-hover;
	}
}

.btn__save {
	background-color: $background-button-save;
	color: $text-color-button-save;
	&:hover {
		box-shadow: $box-shadow-button-save;
		background-color: $background-button-save-hover;
	}
}

.btn__danger {
	background-color: $background-button-danger;
	color: $text-color-button-danger;
	&:hover {
		background-color: $background-button-danger-hover;
		color: $text-color-button-danger-hover;
		box-shadow: $box-shadow-button-danger;
	}
}

.progress__bar {
	position: relative;
	height: 20px;
	width: 300px;
	border-radius: 50px;
	border: 1px solid $border-button-danger;
	box-shadow: $box-shadow-button-danger;
	.percentage {
		color: $text-color-button-save;
		text-align: center;
		background: $border-button-danger;
		height: 100%;
		border-radius: inherit;
		transition: width .2s ease-in;
	}
}

.content {
	padding: 6em 4em;
	transition: padding .5s ease-in-out;
}

.layout {
	padding: 6em 2em 6em 20em;
}
