$background-primary: #f7f7f7;
$background-secondary: #e5e5e5;

$background-button-primary: #0f5cbf;
$background-button-primary-hover: #0b3f8e;
$text-color-button-primary: #f2f2f2;
$box-shadow-button-primary: 4px 4px 4px #0f5abd66;

$background-button-save: #28bd28;
$background-button-save-hover: #1f931f;
$text-color-button-save: #f2f2f2;
$box-shadow-button-save: 4px 4px 4px #1f931f66;

$background-button-danger: transparent;
$background-button-danger-hover: #b8141d;
$text-color-button-danger: #e51a24;
$text-color-button-danger-hover: #f2f2f2;
$border-button-danger: #b8141d;
$box-shadow-button-danger: 4px 4px 4px #b8141d66;

$shadow-color-first: #8c8c8c66;
$shadow-color-second: #80808066;

$color-text-icon-hover: #f2f2f2;
$color-text-first: #8c8c8c;
$color-text-second: #be3323;
$color-text-third: #db4a39;
$color-text-fourth: #ec6a5b;
$color-text-link: #4d4d4d;
$color-text-link-hover: #c92a18;

$font-family-Libre-Franklin: 'Libre Franklin', sans-serif;
$font-family-Open-Sans: 'Open Sans', sans-serif;
$font-family-Nunito: 'Nunito', sans-serif;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

$first-transition: .3s ease-in-out;
